@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --primary-font: "Josefin Sans", sans-serif;
    --clr-blue: hsl(220, 98%, 61%);
    --transition: all 0.3s ease-in-out;
}

.light-theme {
    --bg-color: hsl(236, 33%, 92%);
    --clr-text: hsl(235, 19%, 35%);
    --clr-light-text: hsl(233, 11%, 84%);
    --clr-placeholder: hsl(236, 33%, 92%);
    --clr-nav: hsl(236, 9%, 61%);
    --clr-content-bg: hsl(0, 0%, 98%);
    --clr-border: hsl(236, 9%, 61%);
}
.dark-theme {
    --bg-color: hsl(235, 21%, 11%);
    // --clr-text: hsl(235, 19%, 35%);
    --clr-text: hsl(235, 32%, 85%);
    --clr-light-text: hsl(233, 11%, 84%);
    --clr-placeholder: hsl(236, 33%, 92%);
    --clr-nav: hsl(236, 9%, 61%);
    --clr-content-bg: hsl(235, 24%, 19%);
    --clr-border: hsl(236, 9%, 61%);
}

* {
    &,
    &::after,
    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-text);
    background-color: var(--bg-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--clr-content-bg);
    transition: var(--transition);
}

button {
    border: none;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 12px;
}

.site-brand {
    color: var(--clr-text);
    filter: brightness(0) invert(1);
}

.form-control {
    width: 100%;
    height: 65px;
    padding: 20px 20px 20px 70px;
    border-radius: 5px;
    border: none;
    color: var(--clr-text);
    background-color: var(--clr-content-bg);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.25rem;

    &:focus {
        outline: none;
    }
}

.site-brand {
    font-size: 3rem;
    letter-spacing: 10px;
}
.site-header {
    padding: 75px 0 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.todos {
    margin-top: -150px;
    padding-bottom: 50px;
}

.nav-tabs {
    background-color: var(--clr-content-bg);
    margin-top: 25px;
    border-radius: 5px;

    .tab-content {
        &:has(li) {
            .content-none {
                display: none;
            }
        }
    }

    .nav-btn {
        color: var(--clr-text);

        &.active {
            color: var(--clr-blue);
        }
    }
}

.todo-list {
    &.active {
        li:has(.checked) {
            display: none;
        }
    }
    &.complete {
        li.active {
            display: none;
        }
    }

    li {
        & > * {
            padding: 20px 25px;
            display: flex;
            gap: 20px;
            background-color: var(--clr-content-bg);

            .text {
                flex: 1;
                cursor: pointer;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-border);
        }
    }
}
.form-checkbox {
    --size: 25px;
    appearance: none;
    display: inline-block;
    width: var(--size);
    width: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    position: relative;
    background: var(--clr-placeholder);
    transition: var(--transition);
    cursor: pointer;

    &::before {
        content: "";
        width: 10px;
        height: 6px;
        border: 2px solid var(--clr-content-bg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%) rotate(-45deg);
        border-top: 0;
        border-right: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 1.5px;
        border-radius: 50px;
        background-color: var(--clr-content-bg);
    }

    &:checked,
    &.checked {
        background: linear-gradient(90deg, #57ddff 0%, #c058f3 100%);

        &::after {
            background-color: transparent;
        }

        & ~ .text {
            text-decoration: line-through;
        }
    }
}

.nav-tabs {
    .btn-delete {
        --size: 18px;
        width: var(--size);
        height: var(--size);
        background: url("../img/icon-cross.svg") no-repeat center center;
        background-size: contain;
        display: inline-block;
        opacity: 0;
        pointer-events: none;
        transition: var(--transition);
    }
    .todo-list {
        li {
            &:hover {
                .form-checkbox {
                    background: linear-gradient(90deg, #57ddff 0%, #c058f3 100%);
                }
                .btn-delete {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}

.tab-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid var(--clr-border);

    * {
        color: var(--clr-text);
        font-weight: 600;
    }

    .tab-list {
        display: flex;
        gap: 18px;
    }
}

.content-none {
    text-align: center;
    padding: 20px;
}
.fade-in-left {
    animation: fadeInLeft 0.4s forwards;
}
.fade-out-left {
    animation: fadeOutLeft 0.4s forwards;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
        opacity: 0;
        pointer-events: none;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}
